body{
	font-family:"proxima-nova","Trebuchet MS","Helvetica",sans-serif;
}
.cache{
	color:#00438A;
	text-shadow:0 0 1px black;
	width:100%;
	}
.demo{
	margin:0 20px 0 20%;
	width:800px;
}
.cache_home{
	font-size:15px;
	padding:0 20px 0 0;
}
.cache_index{
	background-color:#e6e6e6;
	border:0px solid ##E5E5E5E;
	border-radius:5px 5px 5px 5px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05) inset;
	padding:5px;
	width:600px;
	}
